<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.eaf.qa.uitests.RefrenceTableTest"/>
      <class name="com.eaf.qa.uitests.AddMaintenancePlanchecklistTest"/>
      <class name="com.eaf.qa.uitests.LoginTest"/>
      <class name="com.eaf.qa.uitests.MaintenanceWorkOrdersTest"/>
      <class name="com.eaf.qa.uitests.TriggerResetHistoryTest"/>
      <class name="com.eaf.qa.uitests.MaintenanceClassTest"/>
      <class name="com.eaf.qa.uitests.EquipmentClassesTest"/>
      <class name="com.eaf.qa.uitests.PrerequisiteForSM2Test"/>
      <class name="com.eaf.qa.uitests.Maintenence_JobsTest"/>
      <class name="com.eaf.qa.uitests.PartsAndTradesTest4"/>
      <class name="com.eaf.qa.uitests.MaintenanceTaskTest"/>
      <class name="com.eaf.qa.uitests.MaintenanceClassesCheckListTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
